*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*-------------------------- HERO SECTION -------------------------*/
.hero img{
    width: 100%;
    
}

.header-nav,
.header-pitchline{
    height: 50px;
    display: flex;
    align-items: center;
}

.header-nav{
    justify-content: space-between;
    margin: 0 1%;
}

.header-nav .header-nav-left ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.header-nav-center{
    margin-left: -120px;
}

.header-nav-right{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}

.header-nav-right p{
    display: flex;
}


.header-nav-right img{
    height: 20px;
    
}

.nav-icons-box{
    height: 30px;
    border-right: rgb(224, 223, 223) 3px solid;
    border-left: rgb(224, 223, 223) 3px solid;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 12px;
}
    
.header-pitchline{
    background: #262626;
    color: white;
    justify-content: center;
}

.header-pitchline p{
    font-size: 15px;
    font-weight: 400;
    margin: 0 8px 0 2px;
}

.header-pitchline p:nth-child(3){
    padding: 2px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 8px 0 2px;
    padding: 5px 22px;
}

/*---------------------------- MAIN WRAPPER -------------------------*/
.main{
    margin-bottom: 80px;
}
.main-wrapper{
    padding: 0 10%;
    margin: 64px 0;
}

h1{
    font-size: 36px;
    letter-spacing: .26px;
}


.main-text{
    text-align: center;
    padding: 0 8% ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .32px;
    margin-bottom: 20px;
}

.main-text p{
    margin: 38px auto 5px;
    max-width: 850px;
}

.main-text-span{
    color: #ffbb43;
    text-decoration: underline;
}

/*------------------------- GLASSES SLIDE ------------------*/

.glasses-slide{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.main a{
    color: black;
    font-size: 15px;
}

.glass-left img,
.glass-center img,
.glass-right img{
    max-width: 100%; 
    margin: 0 auto;
}

.glass-left,
.glass-center,
.glass-right{
    display: grid;
}

.color-picker{
    display: flex;
    justify-content: center;
    align-items: center;
}


.c-picker-left-1,
.c-picker-left-2,
.c-picker-center-1,
.c-picker-center-2,
.c-picker-right-1,
.c-picker.right-2{
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 100%;
    margin: 0 8px 16px 8px;
}


.c-picker-left-1{
    background-color: rgb(177, 177, 24);
}

.c-picker-left-2{
    background-color: rgba(0, 0, 0, 0.678);
}

.picker-text{
    text-align: center;
    margin-bottom: 16px;
}

.slide-btn-container{
    display: flex;
    justify-content: center;
}

.slide-btn-container a{
    border: solid black 1px;
    padding: 10px 70px;
}

/*--------------------------- SECTION MODELS------------------------ */

.models{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.models p{
    text-align: center;
    line-height: 24px;
}

.model-left,
.model-center,
.model-right{
    display: grid;
}

.model-left img,
.model-center img,
.model-right img{
    max-width: 100%; 
    margin: 0 auto;
    padding: 16px;
}



.models h1{
    text-align: center;
    margin: 18px 0;
}

.models a{
    color: black;
    margin: 20px;
    font-size: 15px;
}